---
const { lang } = Astro.props;
import { Image } from "astro:assets";
import Accordion1 from "../assets/images/accordion/Accordion1.svg"
import Accordion2 from "../assets/images/accordion/Accordion2.svg"
import Accordion3 from "../assets/images/accordion/Accordion3.svg"
import Accordion4 from "../assets/images/accordion/Accordion4.svg"
import Accordion5 from "../assets/images/accordion/Accordion5.svg"
import Accordion6 from "../assets/images/accordion/Accordion6.svg"

const accordionItems = [
	{
		id: "flush-collapseTwo",
		headingId: "flush-headingTwo",
		imgSrc: Accordion1,
		title_lv: "Loksnes",
		title_ru: "Листы",
		title_en: "Sheets",
		body_lv: "Tiek izgatavotas speciālajās iekārtās, sagriežot putu poliuretāna blokus. Porolona loksnes tiek izmantotas matraču, mēbeļu detaļu un citu izstrādājumu ražošanā.",
		body_ru: "Изготавливаются на специальных станках путем разрезки блоков пенополиуретана. Листы поролона используются для производства матрасов, мебельных деталей и других изделий.",
		body_en: "We produce sheets by using special machines for cutting blocks from polyurethane foam. Foam rubber sheets are used for the production of mattresses, furniture parts and other products.",
	},
	{
		id: "flush-collapseThree",
		headingId: "flush-headingThree",
		imgSrc: Accordion2,
		title_lv: "Sasmalcinātais porolons",
		title_ru: "Измельчённый поролон",
		title_en: "Crushed foam rubber",
		body_lv: "Porolona detaļas, sasmalcinātas speciālajā iekārtā, tiek izmantotas spilvenu, segu un iepakojumu utt. piepildīšanai. Sasmalcināšanai tiek izmantots vidēja mīkstuma vieglais porolons.",
		body_ru: "Детали из поролона, измельченного на специальном оборудовании, используются как наполнитель для подушек, одеял, для упаковки и т.д. Для измельчения используется лёгкий поролон средней мягкости.",
		body_en: "Parts made of foam rubber are crushed on special equipment and are later used as a filler for pillows, blankets, packaging, etc. For grinding, a light foam of medium softness is used.",
	},
	{
		id: "flush-collapsefour",
		headingId: "flush-headingfour",
		imgSrc: Accordion3,
		title_lv: "Ruļļu (lentveidīgs) porolons",
		title_ru: "Рулонный (ленточный) поролон",
		title_en: "Rolled (ribbon) foam rubber",
		body_lv: "Tiek izmantots laminēšanai ar dažādiem papildus materiāliem.",
		body_ru: "Используется для ламинирования с различными дополнительными материалами.",
		body_en: "Can be used for lamination with various additional materials.",
	},
	{
		id: "flush-collapsefive",
		headingId: "flush-headingfive",
		imgSrc: Accordion4,
		title_lv: "Detaļas, sagataves mēbelēm un pārējā produkcija",
		title_ru: "Детали, заготовки для мебели и прочая продукция",
		title_en: "Parts, blanks for the furniture and other products",
		body_lv: "Tiek izgatavotas ar speciālu porolona pārstrādes iekārtu palīdzību pēc iepriekš saskaņotajiem rasējumiem. Pēc pasūtītāju vēlmēm mēs sagatavojam pusfabrikātus, savienojam detaļas no porolona, pielīmējam sinteponu, tīklu, aplīmējam ar līmplēvi utt.",
		body_ru: "Изготавливаются с помощью специализированного оборудования для переработки поролона в соответствии с заранее согласованными чертежами. В зависимости от потребностей заказчиков мы подготавливаем полуфабрикаты, соединяем детали из поролона, приклеиваем синтепон, сетку, покрываем клейкой плёнкой и т.д.",
		body_en: "Are manufactured using equipment specialized for processing foam rubber in accordance with pre-agreed drawings. Depending on the needs of our customers, we prepare semi-finished products, connect foam rubber parts, glue sintepon (polyester wadding), mesh, cover details with adhesive film, etc.",
	},
	{
		id: "flush-collapsesix",
		headingId: "flush-headingsix",
		imgSrc: Accordion5,
		title_lv: "Profilēts (olveidīgais) porolons",
		title_ru: "Профилированный (яйцеобразный) поролон",
		title_en: "Profiled (egg-shaped) foam rubber",
		body_lv: "Tiek izmantots akustisko sistēmu ražošanai, iekārtu un trauslu izstrādājumu iepakošanai utt. Izmantojams matraču ražošanai, atsperes efekta palielināšanai, mēbeļu detaļu, sarežģītas formas sūkļu ražošanai. Izgatavojam dažādus profilus.",
		body_ru: "Используется для производства акустических систем, упаковки оборудования и хрупких изделий и т.д. Применяется для изготовления матрасов, увеличения пружинящего эффекта, деталей мебели, сложной формы губок. Производим различные профили.",
		body_en: "It is used for the equipment of acoustic systems, for device packaging, fragile products, etc. It can be used for the production of mattresses, the spring effect strengthening. Is used for the production of furniture parts and washcloths of the complex shape. We can produce various types of the foam rubber.",
	},
	{
		id: "flush-collapseseven",
		headingId: "flush-headingseven",
		imgSrc: Accordion6,
		title_lv: "Laminētais porolons",
		title_ru: "Ламинированный",
		title_en: "Laminated",
		body_lv: "Tiek veidoti standartizmēra porolona bloki, kurus izmanto lokšņu, detaļu utt. ražošanai. Izgatavojam dažāda veida porolona blokus, kuriem piemīt dažādas īpašības.",
		body_ru: "Формируются блоки поролона стандартных размеров, которые используются для переработки в листы, детали и т.д. Мы изготавливаем блоки поролона различного вида и обладающие различными свойствами.",
		body_en: "Foam rubber blocks of standard sizes are formed, which are used for processing into sheets, parts, etc. We produce blocks of foam rubber of various types and with different properties.",
	},
];

---

<section id="accordian">
	<div class="container">
		<div class="row">
			<div class="heading text-center">
				<h1>Mēs piedāvājam:</h1>
			</div>
			<div class="faqs">
				<div
					class="accordion accordion-flush"
					id="accordionFlushExample"
				>
					{
						accordionItems.map((item) => (
							<div class="accordion-item">
								<h2
									class="accordion-header"
									id={item.headingId}
								>
									<button
										class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target={`#${item.id}`}
										aria-expanded="false"
										aria-controls={item.id}
									>
										<Image
											src={item.imgSrc}
											class="img-fluid mr-4"
											width="55"
											alt=""
										/>
										{item["title_" + lang]}
									</button>
								</h2>
								<div
									id={item.id}
									class="accordion-collapse collapse"
									aria-labelledby={item.headingId}
									data-bs-parent="#accordionFlushExample"
								>
									<div class="accordion-body">
										{item["body_" + lang]}
									</div>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</div>
</section>
